spring:
  datasource:
    url: jdbc:mysql://localhost:3306/carpool?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 0000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
logging:
  level:
    org.hibernate.SQL: debug
