spring:
  datasource:
    url: jdbc:mysql://localhost:3306/carpool?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: 0000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
  sql:
    init:
      mode: always
logging:
  level:
    org.hibernate.SQL: debug
